@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		font-family: 'Poppins', sans-serif;
	}
}

@layer components {
	.layout {
		max-width: 68.75rem;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.h2-clamp {
		font-size: clamp(1.75rem, calc(1.45rem + 1.49vw), 2.38rem);
	}
}

@layer utilities {
	@media (prefers-reduced-motion: reduce) {
		html:focus-within {
			scroll-behavior: auto;
		}
		*,
		*::before,
		*::after {
			-webkit-animation-duration: 0.01ms !important;
			animation-duration: 0.01ms !important;
			-webkit-animation-iteration-count: 1 !important;
			animation-iteration-count: 1 !important;
			-webkit-transition-duration: 0.01ms !important;
			-o-transition-duration: 0.01ms !important;
			transition-duration: 0.01ms !important;
			scroll-behavior: auto !important;
		}
	}
}
