---
import renovare from '../assets/renovare.jpg';
import { Image } from 'astro:assets';
import Link from './Link.astro';
---

<section class="mt-24 container flex flex-col md:flex-row gap-8">
	<div>
		<div class="">
			<p class="text-[15px] tracking-subtitle text-accent font-bold">De ce să ne alegi</p>
			<h2 class="text-gri-text h2-clamp font-bold tracking-h3title leading-tight">Alegeți expertiza autentică</h2>

			<p class="text-gray-500 font-normal text-base mt-3">
				Optând pentru serviciile noastre, beneficiați de o combinație rară de experiență vastă și atenție personalizată. Ne dedicăm fiecărui proiect cu pasiune,
				garantând rezultate care depășesc așteptările. Cu noi, casa ta este în mâini de profesioniști. Atunci 
			</p>

			<div class="grid grid-cols-2 gap-4 mt-6">
				<div class="bg-blue-50 rounded-lg flex flex-col gap-6 text-center items-center justify-center p-6">
					<span class="text-accent font-bold text-4xl">723</span>
					<p>Clienți multumiți</p>
				</div>
				<div class="bg-blue-50 rounded-lg flex flex-col gap-6 text-center items-center justify-center p-6">
					<span class="text-accent font-bold text-4xl">14</span>
					<p>Premii obținute</p>
				</div>
				<div class="bg-blue-50 rounded-lg flex flex-col gap-6 text-center items-center justify-center p-6">
					<span class="text-accent font-bold text-4xl">24</span>
					<p>Muncitori experți</p>
				</div>
				<div class="bg-blue-50 rounded-lg flex flex-col gap-6 text-center items-center justify-center p-6">
					<span class="text-accent font-bold text-4xl">146</span>
					<p>Proiecte încheiate</p>
				</div>
			</div>

			<div class="mt-4 md:mt-8">
				<Link href="#" theme="primary" text="Explorează" target="_blank" />
			</div>
		</div>
	</div>
	<!-- !right side image -->
	<Image alt="renovare casa" src={renovare} format="avif" quality={'mid'} class="rounded-lg object-cover w-full md:w-1/2" /> 
</section>
