---
---

<section class="my-24 container">
	<div class="flex gap-12">
		<!-- ! stanga -->
		<div class="grid grid-cols-2 grid-rows-2 gap-4 w-1/2">
			<div class="p-10 rounded-xl border-accent border-2">
				<p class="text-gri-text font-bold tracking-8years text-[38px]">8+ ani</p>
				<p class="text-gray-500 font-medium text-base mt-3">Excelență, servicii de top și clienți mulțumiți</p>
			</div>
			<img src="/public/images/architect.avif" class="row-span-2 object-cover object-center rounded-xl h-full" />
			<img src="/public/images/constructionsite.avif" class="object-cover object-center rounded-xl h-full" />
		</div>

		<!-- ! dreapta -->
		<div class="w-1/2">
			<div>
				<p class="text-[15px] tracking-subtitle text-accent font-bold">Despre noi</p>
				<h2 class="text-gri-text text-[38px] font-bold tracking-h3title">Peste un deceniu de excelență</h2>
				<p class="text-gray-500 font-normal text-base mt-3">
					Cu peste 12 ani de experiență în domeniu, ne mândrim cu o creștere continuă și o bază solidă de clienți mulțumiți. Misiunea noastră este să oferim
					servicii de cea mai înaltă calitate, punând accent pe profesionalism și integritate.
				</p>
			</div>
			<div></div>
		</div>
	</div>
</section>
