---
import { Image } from 'astro:assets';
import backgroundIMG from '../assets/backgroundhero.jpg';
import Link from './Link.astro';
import ResponsiveImage from './ResponsiveImage.astro';
---

<section class="relative bg-cover bg-center bg-no-repeat">
	<ResponsiveImage 
	src={backgroundIMG}
	slot="card_image"
	sizes={[568, 900, 1200]}
	alt="Hero image"
	format="avif"
	fetchpriority = "high"
	loading = "eager"
	decoding = "sync"
	class="absolute inset-0 w-full h-full object-cover z-0"/>
	<div class="absolute inset-0 bg-black/75 sm:bg-transparent sm:from-black/90 sm:to-black/30 sm:bg-gradient-to-r"></div>

	<div class="container">
		<div class="relative py-32 lg:flex lg:items-center">
			<div class="max-w-xl text-center sm:text-left">
				<h1 class="text-3xl font-bold text-white sm:text-5xl">
					Transformă spațiul în
					<strong class="block font-bold text-accent"> visul tau!</strong>
				</h1>
				<p class="mt-8 max-w-lg text-base font-medium text-white">
					De la baie și instalații, la decorațiuni și iluminat, oferim expertiză completă în amenajări interioare. Realizează-ți viziunea alături de noi!
				</p>
				<div class="mt-8 flex flex-wrap gap-4 text-center">
					<Link href="#" theme="primary" text="Explorează" classes="w-full sm:w-auto" />
					<Link href="#" theme="secondary" text="Cere oferta" classes="w-full sm:w-auto" />
				</div>
			</div>
		</div>
	</div>
</section>
