---
---

<section class="relative bg-imagine-hero bg-cover bg-center bg-no-repeat">
	<div class="absolute inset-0 bg-black/75 sm:bg-transparent sm:from-black/90 sm:to-black/30 sm:bg-gradient-to-r"></div>

	<div class="container">
		<div class="relative py-32 lg:flex lg:items-center">
			<div class="max-w-xl text-center sm:text-left">
				<h1 class="text-3xl font-bold text-white sm:text-5xl">
					Transformă spațiul în
					<strong class="block font-bold text-accent"> visul tau!</strong>
				</h1>
				<p class="mt-8 max-w-lg text-base font-medium text-white">
					De la baie și instalații, la decorațiuni și iluminat, oferim expertiză completă în amenajări interioare. Realizează-ți viziunea alături de noi!
				</p>
				<div class="mt-8 flex flex-wrap gap-4 text-center">
					<a
						href="#"
						class="block w-full rounded bg-accent px-12 py-3 text-sm font-medium text-white shadow hover:bg-blue-500 focus:outline-none focus:ring active:bg-accent sm:w-auto"
					>
						Explorează
					</a>
					<a
						href="#"
						class="block w-full rounded bg-white px-12 py-3 text-sm font-medium text-accent shadow hover:text-blue-500 focus:outline-none focus:ring active:text-accent sm:w-auto"
					>
						Cere oferta
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
