---
// library import
import { Icon } from 'astro-icon';
import 'keen-slider/keen-slider.min.css';

const recenzii = [
	{
		titlu: 'Serviciu exceptional',
		recenzie:
			'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab numquam consequatur sit perferendis sapiente consectetur pariatur. Maxime odit facere nesciunt asperiores, nulla nostrum natus. Placeat adipisci accusamus similique suscipit dolore.',
		nume: 'Izabela Marioara',
	},
	{
		titlu: 'Fantastic nu imi vine a crede',
		recenzie: 'Trolollol. Placeat adipisci accusamus similique suscipit dolore.',
		nume: 'Patrunjica Fericita',
	},
	{
		titlu: '3',
		recenzie: 'Maxime odit facere nesciunt asperiores, nulla nostrum natus. Placeat adipisci accusamus similique suscipit dolore',
		nume: 'Patrunjica Fericita',
	},
];

let currentIndex = 0;
---

<section class="my-24 container">
	<div class="grid grid-cols-[1fr,2fr] gap-12">
		<!-- ? stanga -->
		<div class="">
			<p class="text-[15px] tracking-subtitle text-accent font-bold">Recenzii</p>
			<h2 class="text-gri-text h2-clamp font-bold tracking-h3title leading-tight">Părerile clienților noștri</h2>
			<p class="text-gray-500 font-normal text-base mt-3">
				Suntem foarte mândri să oferim servicii excepționale care transformă cu adevărat spațiile de locuit ale clienților noștri. Dar nu ne credeți doar pe
				cuvânt, citiți ce spun clienții noștri.
			</p>
			<!-- ? div butoane slider -->
			<div class="flex gap-4 items-center mt-9">
				<div class="py-4 px-9 rounded-[.625rem] bg-blue-400 hover:bg-blue-500" aria-label="Previous slide" id="keen-slider-previous">
					<Icon name="mdi:arrow-left" class="w-5 h-5 text-white" aria-hidden="true" />
				</div>
				<div class="py-4 px-9 rounded-[.625rem] bg-blue-400 hover:bg-blue-500" aria-label="Next slide" id="keen-slider-next">
					<Icon name="mdi:arrow-right" class="w-5 h-5 text-white" aria-hidden="true" />
				</div>
			</div>
		</div>
		<!-- ? dreapta -->
		<div class="bg-blue-50 py-20 px-28 rounded-lg relative keen-slider" id="keen-slider">
			{
				recenzii.map((recenzie, index) => (
					<div class="keen-slider__slide">
						<span class="font-bold text-[26px] tracking-testimoniale text-gri-text">{recenzie.titlu}</span>
						<p class="text-gray-500 mt-9 italic">{recenzie.recenzie}</p>
						<p class="text-gri-text font-medium mt-12">- {recenzie.nume}</p>
					</div>
				))
			}

			<svg
				class="absolute w-8 h-8 left-24 top-12 row-start-1 row-end-2 col-start-2 col-end-3"
				clip-rule="evenodd"
				fill-rule="evenodd"
				stroke-linejoin="round"
				stroke-miterlimit="2"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
				><path
					d="m21.301 4c.411 0 .699.313.699.663 0 .248-.145.515-.497.702-1.788.948-3.858 4.226-3.858 6.248 3.016-.092 4.326 2.582 4.326 4.258 0 2.007-1.738 4.129-4.308 4.129-3.24 0-4.83-2.547-4.83-5.307 0-5.98 6.834-10.693 8.468-10.693zm-10.833 0c.41 0 .699.313.699.663 0 .248-.145.515-.497.702-1.788.948-3.858 4.226-3.858 6.248 3.016-.092 4.326 2.582 4.326 4.258 0 2.007-1.739 4.129-4.308 4.129-3.241 0-4.83-2.547-4.83-5.307 0-5.98 6.833-10.693 8.468-10.693z"
					fill-rule="nonzero"></path></svg
			>
			<svg
				class="absolute w-8 h-8 right-24 bottom-12 row-start-1 row-end-2 col-start-2 col-end-3"
				clip-rule="evenodd"
				fill-rule="evenodd"
				stroke-linejoin="round"
				stroke-miterlimit="2"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
				><path
					d="m2.699 20c-.411 0-.699-.312-.699-.662 0-.249.145-.516.497-.703 1.788-.947 3.858-4.226 3.858-6.248-3.016.092-4.326-2.582-4.326-4.258 0-2.006 1.738-4.129 4.308-4.129 3.241 0 4.83 2.547 4.83 5.307 0 5.981-6.834 10.693-8.468 10.693zm10.833 0c-.41 0-.699-.312-.699-.662 0-.249.145-.516.497-.703 1.788-.947 3.858-4.226 3.858-6.248-3.015.092-4.326-2.582-4.326-4.258 0-2.006 1.739-4.129 4.308-4.129 3.241 0 4.83 2.547 4.83 5.307 0 5.981-6.833 10.693-8.468 10.693z"
					fill-rule="nonzero"></path></svg
			>
		</div>
	</div>
</section>

<script>
	import KeenSlider from 'keen-slider';
	const keenSlider = new KeenSlider(
		'#keen-slider',
		{
			loop: true,
		},
		[]
	);
	const keenSliderPrevious = document.getElementById('keen-slider-previous');
	const keenSliderNext = document.getElementById('keen-slider-next');

	keenSliderPrevious.addEventListener('click', () => keenSlider.prev());
	keenSliderNext.addEventListener('click', () => keenSlider.next());
</script>
