---
---

<section class="my-24 container">
	<div class="grid grid-cols-2 gap-12">
		<!-- ! stanga -->
		<div>
			<p class="text-[15px] tracking-subtitle text-accent font-bold">Recenzii</p>
			<h2 class="text-gri-text h2-clamp font-bold tracking-h3title leading-tight">Parerile clientilor nostri</h2>
			<p class="text-gray-500 font-normal text-base mt-3">
				Suntem foarte mândri să oferim servicii excepționale care transformă cu adevărat spațiile de locuit ale clienților noștri. Dar nu ne credeți doar pe
				cuvânt, citiți ce spun clienții noștri.
			</p>
			<!-- ! div butoane slider -->
			<div></div>
		</div>
		<!-- ! dreapta -->
		<div class="bg-blue-50 py-20 px-28 rounded-lg text-center relative">
			<span class="font-bold text-[26px] tracking-testimoniale text-gri-text">Serviciu exceptional</span>
			<p class="text-gray-500 mt-9">
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab numquam consequatur sit perferendis sapiente consectetur pariatur. Maxime odit facere
				nesciunt asperiores, nulla nostrum natus. Placeat adipisci accusamus similique suscipit dolore.
			</p>
			<div class="mt-12">
				<img src="" />
				<div class="flex flex-col">
					<span>Izabela Marioara</span>
					<p>Fondator Hreanonline</p>
				</div>
			</div>
			<svg
				class="absolute w-8 h-8 top-14"
				clip-rule="evenodd"
				fill-rule="evenodd"
				stroke-linejoin="round"
				stroke-miterlimit="2"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
				><path
					d="m21.301 4c.411 0 .699.313.699.663 0 .248-.145.515-.497.702-1.788.948-3.858 4.226-3.858 6.248 3.016-.092 4.326 2.582 4.326 4.258 0 2.007-1.738 4.129-4.308 4.129-3.24 0-4.83-2.547-4.83-5.307 0-5.98 6.834-10.693 8.468-10.693zm-10.833 0c.41 0 .699.313.699.663 0 .248-.145.515-.497.702-1.788.948-3.858 4.226-3.858 6.248 3.016-.092 4.326 2.582 4.326 4.258 0 2.007-1.739 4.129-4.308 4.129-3.241 0-4.83-2.547-4.83-5.307 0-5.98 6.833-10.693 8.468-10.693z"
					fill-rule="nonzero"></path></svg
			>
		</div>
	</div>
</section>
