---
import '../styles/global.css';
import MainHead from '../layouts/MainHead.astro';

import '../styles/global.css';
import Navbar from '../components/Navbar.astro';

const { title = 'RenoDesign', description = 'Realizează-ți viziunea alături de noi!' } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<MainHead {title} {description} />
	<Navbar />
	<body class="font-poppins">
		<slot />
	</body>
</html>
